h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 2.1rem;
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}
.item{
    background-color: rgb(247, 247, 247);
    border: 10px rgb(255, 0, 0);
    height: max-content;
    width: 50px;
    text-align: center;
}